.turnOver#Card {
  transform: perspective(2000px) rotateY(0deg);
}

#Card {
  background: white;
  border-radius: 10px 105px 10px 10px;
  transform: perspective(2000px) rotateY(90deg);
  left: 0;
}
#Card.to-left {
  left: calc(-100vw - 365px);
}
#Card > p {
  display: block;
  margin: 184px auto;
  text-align: center;
}

.previous {
  text-align: center;
  margin-top: calc(10% + 450px - 10px);
  position: absolute;
  left: calc(50% - 365px);
  top: -122px;
  display: none;
  transition: top .2s ease-out;
}
.previous.show {
  display: inline-block;
}
.previous.show.slid-down {
  top: 0;
}
.previous a {
  display: block;
}
.previous a img {
  margin-bottom: 8px;
  background: #b4b2bb;
  border-radius: 8px;
  opacity: 0.6;
  display: block;
  transition: opacity .1s ease-out;
}
.previous:hover a img {
  opacity: 0.8;
}
.previous a span {
  color: #888;
  font-size: 16px;
}
