/* reset css */
* { margin: 0; padding: 0; box-sizing: border-box; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none; color:#666; }
img { border: 0; }
body { font: 18px/1em "Roboto", "Noto Sans KR"; color:#666; background: #eee; }



.turnOver { transform: perspective(2000px) rotateY(-90deg); }
.light-text { color: #888; }
.bold { font-weight: bold; }
.tab { padding-left: 1em; }

.light-red { color: #F5E3E3; }
.light-orange { color: #FAEDE1; }

.svg {
  opacity: 0.6;
}


#Card {
  z-index: 1;
  width:         730px;
  height:        450px;
  background: center/cover url("../img/bg.png") no-repeat, white;
  margin:        10% auto 120px;
  border-radius: 105px 10px 10px 10px;
  box-shadow:    3px 3px 5px hsla(0, 0%, 65%, 0.25);
  position: relative;
  overflow: hidden;
  right: 0;
  transition: transform, left, right;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
#Card.to-right {
  right: calc(100vw + 365px);
}
#AboutMe {
  float:         left;
  width:         90%;
  height:        40%;
  margin:        32px 5%;
  box-sizing:    border-box;
  border-radius: 97px 30px 20px 20px;
  background:    transparent;
  transition:    padding-top, background, box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease-out;
}
#AboutMe:hover {
  cursor: pointer;
  padding-top: 4px;
  background: hsla(230, 14%, 92%, 0.5);
  box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.1) inset;
}
#AboutMe #Profile {
  width: 165px;
  float: right;
  margin: 16px 16px 0 0;
}
#AboutMe #Information {
  float: right;
  position: relative;
  height: 100%;
  margin-right: 24px;
}
#AboutMe #Information .wrapper {
  text-align: right;
  line-height: 26px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-right: 2px solid #EF340B;
  padding: 8px 24px;
}
#Category {
  margin: 0 48px;
}
#Category h1 {
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  border-bottom: 2px solid #EFBD0B;
  padding: 0 48px 8px 0;
  margin-bottom: 32px;
}
#Category ul li {
  margin-right: 16px;
  display: inline-block;
  height: 96px;
  min-width: 104px;
  vertical-align: top;
  text-align: center;
}
#Category ul li a {
  height: 100%;
  padding: 8px;
  display: flex;
  flex-flow: column;
  transition: background .1s ease-out;
}
#Category ul li a:hover {
  background: hsla(230, 14%, 92%, 1);
}
#Category ul li img {
  width: 48px;
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  margin: 0 auto;
  width: 730px;
  color: #999;
}
footer a {
  color: #999;
  font-size: 0.8em;
}
footer .Copyright {
  font-size: 0.8em;
}
footer .cc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 16px;
}
footer .cc img {
  width: 24px;
}
footer .cc span {
  line-height: 23px;
  padding-left: 8px;
  font-size: 0.8em;
}
footer .cc span a {
  text-decoration: underline;
}
