@charset "UTF-8";

html, body { width: 100%; height: 100%; font: 18px/1em "Noto Sans KR";  }
* { box-sizing: border-box; padding: 0; margin: 0; }
a, p, span, h1, h2, h3, li { color: #555; text-decoration: none; }
li { list-style: none; }


.site-title {
  position: absolute;
  top: 24px;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.site-title a {
  color: white;
}
.container {
  z-index: 0;
  width: 100%;
  min-height: 100%;
  background: #FEFCF3;
  border: 12px solid #F99696;
  border-width: 64px 12px 12px 12px;
  box-shadow: inset 5px 5px 1px hsla(0, 0%, 0%, 0.1);
  position: relative;
}
.container > .wrapper {
  display: flex;
  margin: 48px auto 320px;
  max-width: 1040px;
}



/* Section */
.container section {
  background: #f2f2ee;
  width: 100%;
  padding: 88px 32px;
  box-shadow: 2px 2px 2px hsla(0,0%,0%,0.1);
  position: relative;
  z-index: 1;
}
.container section > .title {
  text-align: center;
}
.container section > .title span {
  font-size: 27px;
}
.container section > .title span::before,
.container section > .title span::after {
  content: "";
  border-bottom: 2px solid #8196DD;
  width: 88px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 110%;
}
.container section > .title span::before {
  left: initial;
  right: 110%;
}
.container section > .sub-title {
  width: fit-content;
}
.container section > .title span,
.container section > .sub-title .title {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  line-height: 1.2em;
  font-size: 27px;
  word-break: break-word;
}
.container section > .sub-title .title {
  padding: 0 32px 16px 0;
  border-bottom: 2px solid #ecc273;
}
.container section > .sub-title .time {
  display: block;
  text-align: right;
  font-size: 16px;
}
/* Main page */
.main .container section > .title {
  text-align: initial;
}
.main .container section > .title span {
  color: hsla(0,0%,0%,0.45);
  font-size: 20px;
}
.main .container section > .title span::after {
  border-bottom-width: 3px;
  width: 100%;
}
.main .container section > .title span::before {
  display: none;
}
.container section .link-list li {
  text-align: center;
  position: relative;
  margin: 96px 0;
}
.container section .link-list li a {
  position: relative;
  display: inline-block;
}
.container section .link-list li a::after {
  content: "";
  width: 0;
  height: 1em;
  background: #ecc273;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: width .2s ease-out;
}
.container section .link-list li a:hover::after {
  width: 100%;
}
.container section .link-list li .title {
  font-size: 27px;
}
.container section .link-list li .time {
  display: block;
  margin-top: 8px;
  color: hsla(0,0%,0%,0.4);
}
/* Search result page */
.search .container .tool-box .search input {
  width: 200px;
  padding-left: 16px;
}
.search .container .link-list {
  margin-left: 24px;
}
.search .container .link-list li {
  text-align: initial;
  margin: 56px 0;
}
.search .container .sub-title .title {
  border-bottom: 2px solid #8196DD;
  width: 200%;
  margin-top: 64px;
}
.search .container .not-found {
  text-align: center;
  margin-top: 64px;
}
.search .container .not-found span {
  font-size: 27px;
  line-height: 1.5em;
  color: hsla(0,0%,0%,0.3);
}
/* Article page */
.container section .embed-wrapper {
  width: 100%;
  height: 540px;
  border: 1px solid black;
  background: white;
  margin: 56px 0;
}
.container section .embed-wrapper embed {
  width: 100%;
  height: 100%;
  border-top: 24px solid #ecc273;
}
.container section .bottom {
    background: white;
    margin-top: 64px;
    padding: 16px;
}
.container section .bottom .sibling-article-link {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.container section .bottom .sibling-article-link a {
    display: inline-block;
    text-align: right;
    margin-bottom: 32px;
}
.container section .bottom .sibling-article-link a .link-title {
    display: block;
    text-align: right;
    position: relative;
    z-index: 1;
    margin-bottom: 8px;
}
.container section .bottom .sibling-article-link a .link-title::after {
    content: "";
    width: 2.6em;
    height: 0.6em;
    background: #cfd7f2;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.container section .bottom .sibling-article-link .sibling-title {
    position: relative;
    z-index: 0;
}
.container section .bottom .sibling-article-link .sibling-title::after {
    content: "";
    width: 0;
    height: 0.6em;
    background: #ecc27380;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: width .2s ease-out;
}
.container section .bottom .sibling-article-link a:hover .sibling-title::after {
    width: 100%;
}


/* toolbox */
.container .tool-box {
  margin-right: 16px;
  position: fixed;
  right: 16px;
  top: 136px;
  z-index: 2;
}
.container .tool-box > * {
  box-shadow: 2px 2px 2px hsla(0,0%,0%,0.2);
}
.container .tool-box .scroll-top {
  width: 48px;
  height: 48px;
  background: #8196DD;
  position: relative;
  border-radius: 4px;
  margin-bottom: 16px;
  cursor: pointer;
  float: right;
}
.container .tool-box .scroll-top img {
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.container .tool-box .search {
  height: 48px;
  background: white;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  clear: right;
}
.container .tool-box .search:hover input,
.container .tool-box .search input:focus {
  width: 200px;
  padding-left: 16px;
}
.container .tool-box .search input {
  width: 48px;
  height: 100%;
  border: none;
  outline: none;
  border-right: 48px solid #E9CD98;
  transition: width .2s ease-out, padding-left .1s;
}
.container .tool-box .search button {
  position: absolute;
  height: 70%;
  right: 8px;
  top: 57%;
  transform: translateY(-50%);
  z-index: 1;
  width: 28px;
  background: url("contents/img/search.png") no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}


/* Decorate */
.decorate {
  position: absolute;
  padding: 12px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.decorate > * {
  z-index: 2;
}
.decorate img[src*="sand bucket"] {
  position: absolute;
  right: 36px;
  bottom: 40px;
}
