@charset "UTF-8";

html, body { width: 100%; height: 100%; font: 18px/1em "Noto Sans KR";  }
* { box-sizing: border-box; padding: 0; margin: 0; }
a, p, span, h1, h2, h3, li { color: #555; text-decoration: none; }
li { list-style: none; }


.container {
  width: 100%;
  min-height: 100%;
  background: #FEFCF3;
  border: 12px solid #F99696;
  box-shadow: inset 5px 5px 1px hsla(0, 0%, 0%, 0.1);
  position: relative;
}
.container section {
  width: 100%;
  max-width: 840px;
  background: #f2f2ee;
  margin: 16px auto;
  padding: 88px 32px 320px;
  border: 1px solid #bfc4dc;
  position: relative;
  z-index: 1;
}
.container section .title {
  width: fit-content;
  margin-bottom: 88px;
}
.container section .title h1 {
  padding: 0 32px 16px 0;
  display: inline-block;
  border-bottom: 2px solid #E9CD98;
  margin-bottom: 8px;
}
.container section .title span {
  display: block;
  text-align: right;
  font-size: 16px;
}
.container section .embed-wrapper {
  width: 100%;
  height: 540px;
  border: 1px solid black;
  background: white;
}
.container section .embed-wrapper embed {
  width: 100%;
  height: 100%;
  border-top: 24px solid #f5ba67;
}

.decorate {
  position: absolute;
  padding: 12px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.decorate > * {
  z-index: 2;
}
.decorate img[src*="sand bucket"] {
  position: absolute;
  right: 36px;
  bottom: 40px;
}
